html
{
	scroll-behavior: smooth;
}
body
{
	color: white;
	background: teal;
	text-align: center;
	padding: 0px;
	margin: 2px;
}
.frame1
{
	margin-bottom: -10px;
	display: block;
	width: 100%;
	border-radius: 2px;
	height: 48vw;
	 background: url("bck01.jpg") no-repeat;
    background-size: 100% 130%;
	/* background: url("bck01.jpg") no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;*/
	box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.4);
}
.frame1:hover
{
	border-radius: 5px;
	box-shadow: 0.8rem 0.8rem 3rem rgba(0,0,0,0.6);
}
.frame2
{
	
	display: block;
}
.frame2:hover
{
padding-top: 2px;
border-radius: 5px;
box-shadow: 1rem 1rem 3rem rgba(0,0,0,0.6);
}
.LeftImage
{
	padding-top: 10px;
	position: relative;
	float: left;
	max-width: 40%;
}
.LeftImage:hover
{
	border-radius: 5px;
	box-shadow: 0.8rem 0.8rem 3rem rgba(0,0,0,0.6);
}
.frame2 p:hover
{
	opacity: 1;
}
img
{
	max-width: 100%;
}
.frame2 p
{	

	font-size: 1.5vw;
	opacity: 0.7;
	letter-spacing: 1px;
	word-spacing: 2px;
	position: relative;
	float: right;
	max-width:55%;
 	padding-top: 10px;
 	text-align: justify;
 	
}
.frame3
{
	padding-top: 10px;
	display: block;
}
.frame3 p
{
	text-align: justify;
	font-size: 1.5vw;
	display: block;
	opacity: 0.7;
	letter-spacing: 1px;
	word-spacing: 2px;
	padding-left: 10px;
	float: left;
	max-width: 60%;
	padding-top: 10px;
	padding-right: 10px;
}
.frame3 p:hover
{
opacity: 1;
}
.RightImage
{
	padding-top: 10px;
	max-width: 38%;
	float: right;
	position: relative; 
}
.RightImage:hover
{
	border-radius: 10px;
	box-shadow: 0.8rem 0.8rem 3rem rgba(0,0,0,0.6);
}